.badge {
    border-radius: 5px;
    border: 1px solid transparent;
    color: var(--white);
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    text-transform: uppercase;

    &--small {
        font-size: 10px;
        font-weight: 700;
        padding: 3px 5px;
    }

    &--small-xl {
        border-radius: 12px;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.66666;
        padding: 1px 10px;
    }

    &--big {
        font-size: 20px;
        padding: 4px 20px;
    }

    &--accent {
        background-color: var(--accent);
    }

    &--accent_2 {
        background-color: var(--accent_2);
    }

    &--warning {
        background-color: var(--warning);
    }
}