*,
::after,
::before {
    box-sizing: border-box;
}

body,
html {
    @include scrollbar;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 150px;

    &.is-overflow {
        scrollbar-gutter: stable;
    }
}

.page {
    background-color: var(--page_bg);
    color: var(--black);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: var(--primary_font);
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;

    &--banner {
        .page__content {
            padding-top: var(--header_min_height);
        }
    }

    &--404 {
        .page__content {
            background-color: var(--accent_2);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: calc(50px + var(--header_min_height));
            padding-bottom: 50px;
        }
    }

    &.is-overflow {
        overflow: hidden;
        scrollbar-gutter: stable;
    }

    &__content {
        flex: 1 0 auto;
        overflow: hidden;
        padding-top: calc(50px + var(--header_min_height));
        padding-bottom: var(--header_min_height);
        @media(min-width: $lg) {
            padding-bottom: 200px;
        }
    }
}

.container {
    max-width: var(--container_max_width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container_padding);
    padding-right: var(--container_padding);
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    display: block;
    font-weight: 700;
}

.h1,
h1 {
    font-size: clamp(24px, 3vw, 32px);
    line-height: 1.25;
    margin-bottom: 20px;
    margin-top: 0;
}

.h2,
h2 {
    font-size: clamp(20px, 3vw, 26px);
    line-height: 1.30769;
    margin-top: 30px;
    margin-bottom: 10px;

    &:first-child {
        margin-top: 0;
    }
}

.h3,
h3 {
    line-height: 1.30769;
    margin-top: 20px;
    margin-bottom: 10px;

    &:first-child {
        margin-top: 0;
    }
}

a {
    color: var(--accent);
    transition: color 0.3s;
    @include hover {
        color: var(--button_hover);
    }
}

img {
    height: auto;
    max-width: 100%;
}

svg {
    transition: fill 0.3s;
}

*:focus {
    outline: none;
}

button,
input,
textarea {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

ol,
ul {
    padding: 0;

    &:not([class]) {
        margin-top: 0;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        li {
            &:not(:last-child) {
                margin-bottom: 10px;
            }

            ol,
            ul {
                margin-top: 10px;
            }

            ol {
                padding-left: 24px;
            }
        }
    }
}

ol {
    list-style-position: inside;

    li {
        &::marker {
            color: inherit;
        }
    }
}

ul {
    &:not([class]) {
        list-style: none;

        li {
            padding-left: 24px;
            position: relative;
            z-index: 1;

            &::before {
                background-color: var(--black);
                border-radius: 50%;
                content: '';
                height: 3px;
                left: 10px;
                position: absolute;
                top: 0.68em;
                width: 3px;
                z-index: 1;
            }
        }
    }
}

blockquote {
    display: block;
    font-size: clamp(16px, 3vw, 24px);
    margin: 50px 0;
    padding-left: 80px;
    position: relative;
    z-index: 0;
    @media(min-width: $md) {
        padding-left: 210px;
        padding-right: 210px;
    }

    &::before {
        background: url("../images/icons/quotes.svg") no-repeat 0 0 transparent;
        content: '';
        height: 60px;
        left: 0;
        position: absolute;
        top: 0;
        width: 60px;
        z-index: 0;
        @media(min-width: $md) {
            left: 120px;
        }
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.responsive-table {
    margin-top: 50px;
    margin-bottom: 50px;
    overflow-x: auto;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.table {
    border-collapse: collapse;
    border: 1px solid #E6E6E6;
    width: 100%;

    th {
        background-color: #E6E6E6;
        padding: 20px;
    }

    td,
    th {
        border: 1px solid #E6E6E6;
        padding: 10px;
        text-align: left;

        &:first-child {
            padding-left: 20px;
        }

        &:last-child {
            padding-right: 20px;
        }
    }

    th {
        padding-top: 20px;
        padding-bottom: 20px;

        &:not(:last-child) {
            border-right-color: var(--white);
        }
    }

    td {
        background-color: var(--white);
    }

    b {
        font-weight: 700;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.accent-color {
    color: var(--accent);
}