.button {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 5px;
    color: var(--black);
    cursor: pointer;
    display: inline-flex;
    font-family: var(--primary_font);
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    line-height: 1.5;
    min-height: 44px;
    padding: 8px 30px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s;

    &.disabled,
    &:disabled,
    &[data-disabled] {
        cursor: default;
        pointer-events: none;
    }

    &--primary {
        background-color: var(--accent);

        &:not(.disabled),
        &:not(:disabled),
        &:not([data-disabled]) {
            @include hover {
                background-color: var(--accent_2);
            }
        }

        &.disabled,
        &:disabled,
        &[data-disabled] {
            background-color: var(--grey);
            border-color: var(--grey);
        }
    }

    &--secondary {
        background-color: var(--white);
        border-color: var(--black);

        &:not(.disabled),
        &:not(:disabled),
        &:not([data-disabled]) {
            @include hover {
                border-color: var(--button_hover);
                color: var(--button_hover);
            }
        }

        &.disabled,
        &:disabled,
        &[data-disabled] {
            background-color: #fff;
            border-color: var(--secondary_2);
            color: var(--secondary_2);
        }
    }

    &--gradient {
        background: linear-gradient(270deg, #FE731E 0%, #CC441A 100%);
        border: none;
        color: var(--white);
        overflow: hidden;
        position: relative;
        z-index: 0;

        &::after {
            background: linear-gradient(270deg, #CC441A 0%, #FE731E 100%);
            content: '';
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            transition: opacity 0.3s;
            width: 100%;
            z-index: 0;
        }

        & > span {
            position: relative;
            z-index: 1;
        }

        &:not(.disabled),
        &:not(:disabled),
        &:not([data-disabled]) {
            @include hover {
                color: var(--white);

                &::after {
                    opacity: 1;
                }
            }
        }

        &.disabled,
        &:disabled,
        &[data-disabled] {
            background-color: #fff;
            //border-color: var(--secondary_2);
            color: var(--secondary_2);
        }
    }

    &--h_60 {
        min-height: 60px;
    }
}