.button {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 5px;
    color: var(--black);
    cursor: pointer;
    display: inline-flex;
    font-family: var(--primary_font);
    font-size: 16px;
    font-weight: 400;
    gap: 5px;
    justify-content: center;
    line-height: 1.5;
    min-height: 44px;
    padding: 8px 30px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s;

    &.disabled,
    &:disabled,
    &[data-disabled] {
        cursor: default;
        pointer-events: none;
    }

    &--primary {
        background-color: var(--accent_2);

        &:not(.disabled),
        &:not(:disabled),
        &:not([data-disabled]) {
            @include hover {
                background-color: var(--accent);
                color: var(--black);
            }
        }

        &.disabled,
        &:disabled,
        &[data-disabled] {
            background-color: var(--grey);
            border-color: var(--grey);
            color: #737373;
        }
    }

    &--secondary {
        background-color: var(--white);
        border-color: var(--black);

        &:not(.disabled),
        &:not(:disabled),
        &:not([data-disabled]) {
            @include hover {
                border-color: var(--button_hover);
                color: var(--button_hover);
            }
        }

        &.disabled,
        &:disabled,
        &[data-disabled] {
            background-color: var(--grey);
            border-color: var(--grey);
            color: #737373;
        }
    }

    svg {
        fill: currentColor;
        height: 20px;
        min-width: 20px;
        width: 20px;

        &.small {
            height: 15px;
            min-width: 15px;
            width: 15px;
        }
    }
}