.checkbox {
    align-items: flex-start;
    display: flex;
    gap: 5px;
    font-size: 14px;
    position: relative;

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    input {
        position: absolute;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;

        &:checked ~ .checkbox__icon {
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 16H2V2H12V0H2C0.89 0 0 0.89 0 2V16C0 16.5304 0.210714 17.0391 0.585786 17.4142C0.960859 17.7893 1.46957 18 2 18H16C16.5304 18 17.0391 17.7893 17.4142 17.4142C17.7893 17.0391 18 16.5304 18 16V8H16M4.91 7.08L3.5 8.5L8 13L18 3L16.59 1.58L8 10.17L4.91 7.08Z' fill='%23FFC931'/%3E%3C/svg%3E%0A");
        }

        &:not(:disabled) ~ .checkbox__icon,
        &:not(:disabled) ~ .checkbox__text {
            cursor: pointer;
        }
        /*&:not(:checked).error ~ .checkbox__icon {
            border-color: var(--warning);
        }

        &:not(:checked).error ~ .checkbox__text {
            color: var(--warning);
        }*/
        &:disabled ~ .checkbox__icon,
        &:disabled ~ .checkbox__text {
            color: var(--grey);
            opacity: 0.8;
            user-select: none;

            a {
                color: var(--grey);
            }
        }

        &:checked:disabled ~ .checkbox__icon {}
    }

    &__icon {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 0H2C0.89 0 0 0.89 0 2V16C0 16.5304 0.210714 17.0391 0.585786 17.4142C0.960859 17.7893 1.46957 18 2 18H16C16.5304 18 17.0391 17.7893 17.4142 17.4142C17.7893 17.0391 18 16.5304 18 16V2C18 1.46957 17.7893 0.960859 17.4142 0.585786C17.0391 0.210714 16.5304 0 16 0ZM16 2V16H2V2H16Z' fill='%23D0D0D0'/%3E%3C/svg%3E%0A");
        background-position: 50% 50%;
        display: block;
        height: 18px;
        min-width: 18px;
        width: 18px;
    }

    &__text {
        align-self: center;
    }
}

.radio {
    align-items: flex-start;
    display: flex;
    gap: 5px;
    font-size: 14px;
    position: relative;

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
        @include hover {
            text-decoration: underline;
        }
    }

    &--text {
        font-size: 16px;

        .radio__text {
            color: var(--grey);
            font-weight: 500;
        }

        input {
            &:checked ~ .radio__text {
                color: var(--black);
            }
        }
    }

    input {
        position: absolute;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;

        &:checked ~ .radio__icon {
            background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.5' cy='7.5' r='6.5' stroke='%23FFC931' stroke-width='2'/%3E%3Ccircle cx='7.5' cy='7.5' r='3.75' fill='%23FFC931'/%3E%3C/svg%3E%0A");
        }

        &:not(:disabled) ~ .radio__icon,
        &:not(:disabled) ~ .radio__text {
            cursor: pointer;
        }

        &:disabled ~ .radio__icon,
        &:disabled ~ .radio__text {
            color: var(--grey);
            opacity: 0.8;
            user-select: none;

            a {
                color: var(--grey);
            }
        }

        &:checked:disabled ~ .radio__icon {}
    }

    &__icon {
        background-color: #fff;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.5' cy='7.5' r='7' stroke='%23aaa'/%3E%3C/svg%3E%0A");
        background-position: 50% 50%;
        border-radius: 50%;
        display: block;
        height: 15px;
        margin-top: 3px;
        min-width: 15px;
        width: 15px;
    }

    &__text {
        align-self: center;
    }
}