.input-label {
    display: block;

    &:not(:last-child) {
        margin-bottom: 12px;
    }
}

.input,
.textarea {
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: var(--grey);
    color: var(--white);
    caret-color: var(--accent);
    font-size: 16px;
    font-weight: 400;
    height: 48px;
    line-height: 1.5;
    padding: 12px 16px;
    transition: border-color 0.3s;
    width: 100%;

    &::-webkit-input-placeholder {
        color: var(--grey_dark);
        opacity: 1;
    }

    &::-moz-placeholder {
        color: var(--grey_dark);
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: var(--grey_dark);
        opacity: 1;
    }

    &:focus {
        border-color: var(--grey_dark);
    }

    &:disabled {
        color: var(--grey_dark);
    }

    &.error {
        border-color: var(--warning);

        &:focus {
            border-color: var(--warning);
        }
    }
}

.textarea {
    @include scrollbar;
    height: 120px;
}

.error-text {
    //color: var(--warning);
    display: block;
    //font-size: 14px;
    margin-top: 6px;
}

textarea {
    resize: none;
}

input,
textarea {
    &:focus {
        outline: 0;
    }
}