.input-label {
    display: block;

    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

.input,
.textarea {
    border-radius: 5px;
    border: 1px solid var(--grey);
    background-color: var(--white);
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    height: 44px;
    line-height: 1.5;
    padding: 10px 20px;
    transition: border-color 0.3s;
    width: 100%;

    &::-webkit-input-placeholder {
        color: #AEAEAE;
        opacity: 1;
    }

    &::-moz-placeholder {
        color: #AEAEAE;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: #AEAEAE;
        opacity: 1;
    }

    &:focus-visible {
        border-color: var(--black);
    }

    &:disabled {}

    &.error {
        border-color: var(--warning);

        &:focus-visible {
            border-color: var(--warning);
        }
    }
}

.textarea {
    @include scrollbar;
    height: 150px;
}

.error-text {
    //color: var(--warning);
    display: block;
    //font-size: 14px;
    margin-top: 6px;
}

textarea {
    resize: none;
}

input,
textarea {
    &:focus {
        outline: 0;
    }
}