.section {
    &:not(:last-child) {
        margin-bottom: 50px;
        @media(min-width: $sm) {
            margin-bottom: 100px;
        }
        @media(min-width: $md) {
            margin-bottom: 150px;
        }
    }

    h2 {
        text-align: center;
    }

    &__text {
        font-size: clamp(16px, 3vw, 20px);
        margin-bottom: 30px;
        max-width: 770px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.three-columns {
    --gap: 40px;
    display: flex;
    gap: var(--gap);
    flex-direction: column;
    @media(min-width: $sm) {
        flex-direction: row;
    }
    @media(min-width: $md) {
        --gap: 90px;
    }

    & > div {
        text-align: center;
        @media(min-width: $sm) {
            width: calc(100% / 3 - var(--gap) / 3 * 2);
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5px;
        }
    }
}

.section_2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media(min-width: $sm) {
        align-items: center;
        flex-direction: row;
        gap: 40px;
    }

    &:not(:last-child) {
        margin-bottom: 50px;
        @media(min-width: $sm) {
            margin-bottom: 100px;
        }
        @media(min-width: $md) {
            margin-bottom: 150px;
        }
    }

    &--reverse {
        @media(min-width: $sm) {
            flex-direction: row-reverse;
        }
    }

    &__text-block {
        font-size: clamp(16px, 3vw, 20px);
        max-width: 560px;

        .button {
            margin-top: 20px;
            min-width: 260px;
            @media(max-width: $sm - 0.02px) {
                width: 100%;
            }
        }
    }

    &__image {
        @media(min-width: $sm) {
            max-width: 560px;
        }

        img {
            display: block;
            border-radius: 10px;
        }
    }
}

.section_3 {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-left: calc(0.01px - var(--container_padding));
    margin-right: calc(0.01px - var(--container_padding));
    @media(min-width: $sm) {
        align-items: center;
        flex-direction: row;
    }
    @media(min-width: 1190px) {
        margin-left: calc(-50vw + var(--container_max_width) / 2 - var(--container_padding));
        margin-right: calc(-50vw + var(--container_max_width) / 2 - var(--container_padding));
    }

    &:not(:last-child) {
        margin-bottom: 50px;
        @media(min-width: $sm) {
            margin-bottom: 100px;
        }
        @media(min-width: $md) {
            margin-bottom: 150px;
        }
    }

    &--reverse {
        @media(min-width: $sm) {
            flex-direction: row-reverse;
        }

        img {
            @media(min-width: $sm) {
                object-position: left center;
            }
        }
    }

    &__text-block {
        font-size: clamp(16px, 3vw, 20px);
        padding: 40px;

        .button {
            margin-top: 20px;
            min-width: 260px;
            @media(max-width: $sm - 0.02px) {
                width: 100%;
            }
        }
    }

    &__text-block-inner {
        max-width: 560px;
    }

    &__image {
        @media(min-width: $sm) {
            width: 48.61111%;
        }

        img {
            display: block;
            width: 100%;
            @media(min-width: $sm) {
                height: 560px;
                object-fit: cover;
                object-position: right center;
            }
        }
    }
}

.plans-section {
    background-color: var(--white);
    margin-left: calc(0.01px - var(--container_padding));
    margin-right: calc(0.01px - var(--container_padding));
    padding-top: 50px;
    padding-bottom: 50px;
    @media(min-width: 1190px) {
        margin-left: calc(-50vw + var(--container_max_width) / 2 - var(--container_padding));
        margin-right: calc(-50vw + var(--container_max_width) / 2 - var(--container_padding));
    }

    &:last-child {
        margin-bottom: calc(0.01px - var(--header_min_height));
        padding-bottom: var(--header_min_height);
        @media(min-width: $lg) {
            margin-bottom: calc(0.01px - 200px);
            padding-bottom: 200px;
        }
    }

    &:not(:last-child) {
        margin-bottom: 50px;
        @media(min-width: $md) {
            margin-bottom: 150px;
        }
    }

    h2 {
        text-align: center;
    }

    &__text {
        font-size: clamp(16px, 3vw, 20px);
        margin-bottom: 30px;
        max-width: 770px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}