.tabs-nav {
    display: flex;
    margin-bottom: 30px;

    &__button {
        @include button-reset;
        border-bottom: 2px solid var(--grey);
        font-size: 20px;
        line-height: 1.2;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 8px;
        white-space: nowrap;

        &.is-active {
            border-bottom-color: var(--accent);
            color: var(--accent);
            font-weight: 700;
        }
    }
}

.tab {
    display: none;

    &.is-active {
        display: block;
    }
}