$xs: 480px;
$sm: 768px;
$md: 1024px;
$hd: 1200px;
$lg: 1400px;
$fhd: 1900px;

:root {
    --black: #000;
    --white: #fff;
    --page_bg: #F0F0F0;
    --accent: #FD7717;
    --accent_2: #FFC931;
    --button_hover: #CC441A;
    --grey: #D0D0D0;
    --warning: rgba(191, 5, 5, 0.9);
    --success: #148C00;
    --container_padding: 15px;
    --container_max_width: 1190px;
    --container_big_max_width: 1470px;
    --header_min_height: 70px;
    --primary_font: 'Roboto', Arial, sans-serif;
    --text_grey: #4D4D4D;
    --text_grey_light: #7F7F7F;
    --accent_3: #FF9100;
}