.article {
    &:not(:last-child) {
        margin-bottom: var(--section_vertical_gap);
    }

    h2 {
        color: var(--accent);
    }

    img {
        display: block;
        margin-top: var(--section_vertical_gap);
        margin-bottom: var(--section_vertical_gap);

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    & > ul {
        &:not([class]) {
            list-style: none;

            li {
                padding-left: 32px;
                position: relative;
                z-index: 1;

                &::before {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%23ff9100' stroke-linecap='round' stroke-linejoin='round' d='M4 7.333h2.667M5.333 6v2.667M10 8h.007M12 6.667h.007m-.46-3.334H4.453a2.667 2.667 0 0 0-2.652 2.394q-.005.05-.011.101c-.054.45-.457 3.81-.457 4.839a2 2 0 0 0 2 2c.667 0 1-.334 1.334-.667l.942-.943c.25-.25.59-.39.943-.39h2.896c.354 0 .693.14.943.39l.942.943c.334.333.667.667 1.334.667a2 2 0 0 0 2-2c0-1.03-.403-4.39-.457-4.839q-.006-.05-.011-.1a2.667 2.667 0 0 0-2.652-2.395'/%3E%3C/svg%3E");
                    background-color: transparent;
                    border-radius: 0;
                    content: '';
                    height: 16px;
                    left: 0;
                    position: absolute;
                    top: 0.26em;
                    width: 16px;
                    z-index: 1;
                }

                & > ul {
                    li {
                        padding-left: 28px;

                        &::before {
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' viewBox='0 0 12 12'%3E%3Cpath stroke='%23ff9100' stroke-linecap='round' stroke-linejoin='round' d='M10.5 8V4a1 1 0 0 0-.5-.865l-3.5-2a1 1 0 0 0-1 0l-3.5 2A1 1 0 0 0 1.5 4v4a1 1 0 0 0 .5.865l3.5 2a1 1 0 0 0 1 0l3.5-2A1 1 0 0 0 10.5 8'/%3E%3C/svg%3E");
                            height: 12px;
                            top: 0.36em;
                            width: 12px;
                        }
                    }
                }
            }
        }
    }
}

.article-details {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 30px;
    justify-content: space-between;

    &:not(:last-child) {
        margin-bottom: 40px;
    }

    &:last-child {
        margin-top: 40px;
    }

    &__group {
        display: flex;
        gap: 15px 20px;
        flex-wrap: wrap;
        @media(max-width: $md - 0.02px) {
            width: 100%;
        }

        & > * {
            &:not(:last-child) {
                @media(min-width: $sm) {
                    border-right: 1px solid var(--text_grey_light);
                    padding-right: 20px;
                }
                @media(max-width: $sm - 0.02px) {
                    width: 100%;
                }
            }
        }
    }

    &__details {
        display: flex;
        flex-wrap: wrap;
        gap: 15px 30px;
        @media(max-width: $md - 0.02px) {
            width: 100%;
        }
    }

    &__detail {
        align-items: center;
        display: flex;
        gap: 4px;
        white-space: nowrap;
        @media(max-width: $sm - 0.02px) {
            width: calc(50% - 15px);
        }

        svg {
            fill: currentColor;
            height: 20px;
            min-width: 20px;
            width: 20px;
        }
    }
}

.person {
    align-items: center;
    color: var(--black);
    display: flex;
    gap: 12px;
    text-decoration: none;

    &__avatar {
        min-width: 60px;
        width: 60px;

        img {
            border-radius: 50%;
            display: block;
            height: 60px;
            object-fit: cover;
            object-position: center;
            width: 60px;
        }
    }

    &__title {
        color: var(--black);
        display: block;
        opacity: 0.7;
        margin-bottom: 4px;
    }

    &__name {
        display: block;
        transition: color 0.3s;
    }
}

a.person {
    @include hover {
        .person__name {
            color: var(--accent);
        }
    }
}

.share-block {
    align-items: center;
    background-color: #fff;
    border-left: 2px solid var(--accent);
    display: flex;
    gap: 8px;
    padding: 10px;

    &__title {
        margin: 0;
    }

    a {
        display: block;
        height: 35px;
        min-width: 35px;
        width: 35px;

        img {
            height: 35px;
            width: 35px;
        }
    }
}

.rate-block {
    &__title {
        margin-bottom: 4px;
        opacity: 0.7;
        padding-top: 4px;
    }

    &__bottom {
        align-items: center;
        display: flex;
        gap: 4px;
    }

    &__rating {
        display: flex;
        gap: 4px;
    }

    &__button {
        @include button-reset;
        height: 24px;
        width: 24px;

        &.is-active {
            svg {
                fill: #F8BF51;
            }
        }

        &:not(.is-active) {
            @include hover {
                svg {
                    fill: #F8BF51;
                }
            }
        }

        svg {
            fill: #aaa;
            height: 24px;
            width: 24px;
        }
    }
}

.publicate-block {
    &__title {
        margin-bottom: 4px;
        opacity: 0.7;
        padding-top: 4px;
    }
}

.article-top-block {
    @media(min-width: $md) {
        display: flex;
        gap: 20px;
    }

    &:not(:last-child) {
        margin-bottom: var(--section_vertical_gap);
    }

    & > div {
        @media(min-width: $md) {
            width: calc(100% / 2 - 20px / 2);
        }
    }

    &__image {
        @media(max-width: $md - 0.02px) {
            margin-left: calc(0.01px - var(--container_padding));
            margin-right: calc(0.01px - var(--container_padding));
        }

        img {
            display: block;
            max-height: 500px;
            object-fit: cover;
            object-position: center;
            width: 100%;
        }
    }

    &__chapters {
        background-color: #fff;
        padding: 20px;

        a {
            color: var(--black);
            text-decoration: none;
            @include hover {
                color: var(--accent);
            }
        }

        ul {
            &:not([class]) {
                li {
                    padding-left: 16px;

                    &::before {
                        background-color: var(--accent);
                        height: 8px;
                        left: 0;
                        top: 0.52em;
                        width: 8px;
                    }

                    ul {
                        margin-left: 14px;
                    }
                }
            }
        }
    }

    &__chapters-title {
        color: var(--accent);
        font-weight: 700;
        margin-bottom: 16px;
    }
}