.contact-link {
    align-items: center;
    border-bottom: 1px solid var(--grey);
    color: var(--black);
    display: inline-flex;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;

    svg {
        fill: var(--accent);
        height: 20px;
        min-width: 20px;
        width: 20px;
    }

    span {
        max-width: calc(100% - 25px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}