.filter {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 15px 15px 0 0;
    padding: 20px;

    &.hidden {
        display: none;
        margin-bottom: 40px;
        @media(min-width: $md) {
            display: block !important;
            margin-bottom: 0;
        }
    }

    &__title-block {
        align-items: center;
        display: flex;
        justify-content: space-between;
        gap: 15px;
        margin-bottom: 10px;
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4;
        margin: 0;
    }

    &__reset {
        @include button-reset;
        @include active-area;
        color: var(--accent_2);
        font-size: 14px;
        font-weight: 500;
        position: relative;
        text-decoration: underline;
        transition: color 0.3s;
        z-index: 0;
        @include hover {
            color: var(--accent);
        }
    }

    &__section {
        border-top: 1px solid var(--grey);
        padding-top: 15px;
        padding-bottom: 15px;
    }

    &__list {}

    &__list-cut {
        display: none;
        padding-bottom: 10px;
    }

    &__list-cut-toggler {
        @include active-area;
        @include button-reset;
        font-size: 14px;
        position: relative;
        transition: color 0.3s;
        text-decoration: underline;
        z-index: 0;
        @include hover {
            color: var(--accent_2);
        }
    }

    &__section-title-block {
        align-items: center;
        display: flex;
        gap: 15px;
        justify-content: space-between;
        position: relative;
        z-index: 0;

        .filter__section-title {
            margin-bottom: 0;
        }
    }

    &__section-title {
        font-weight: 600;
    }

    &__section-toggler {
        @include active-area;
        @include button-reset;
        height: 24px;
        min-width: 24px;
        width: 24px;

        &.is-active {
            svg {
                transform: rotate(180deg);
            }
        }

        svg {
            height: 24px;
            width: 24px;
        }
    }

    &__section-dropdown {
        padding-top: 10px;
    }

    &__search {
        position: relative;
        z-index: 1;

        svg {
            fill: var(--grey);
            height: 24px;
            left: 8px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            z-index: 1;
        }
    }

    &__search-input {
        padding-left: 40px;
    }

    &__submit {
        margin-top: 20px;
        width: 100%;
    }
}

.filter-toggler {
    margin-bottom: 40px;
    width: 100%;
    @media(min-width: $md) {
        display: none;
    }
}