.game {
    &__banner-block {
        height: 500px;
        position: relative;
        padding-top: 50px;
        z-index: 0;
        margin-bottom: 50px;
        margin-left: calc(0.01px - var(--container_padding));
        margin-right: calc(0.01px - var(--container_padding));
        @media(min-width: 1190px) {
            margin-left: calc(-50vw + var(--container_max_width) / 2 - var(--container_padding));
            margin-right: calc(-50vw + var(--container_max_width) / 2 - var(--container_padding));
        }

        .container {
            position: relative;
            z-index: 1;
        }
    }

    &__banner-content {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;

        &--uploaded {
            &::after {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 100%);
                content: '';
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 0;
            }
        }

        img {
            display: block;
            height: 500px;
            object-fit: cover;
            object-position: center;
            width: 100%;
        }
    }

    &__content-block {
        @media(min-width: $md) {
            display: flex;
            gap: 40px;
        }
    }

    &__sidebar {
        @media(max-width: $md - 0.02px) {
            margin-bottom: 50px;
        }
        @media(min-width: $md) {
            min-width: 360px;
            width: 360px;
        }
    }

    &__sidebar-top {
        border-radius: 10px;
        background-color: var(--white);
        border: 2px solid var(--accent_2);
        box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2);
        margin-top: -160px;
        padding: 20px 10px 30px;
        position: relative;
        z-index: 1;
        @media(max-width: $md - 0.02px) {
            margin-left: auto;
            margin-right: auto;
            max-width: 360px;
        }

        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }

    &__preview-image {
        border-radius: 5px;
        margin-bottom: 20px;
        position: relative;
        z-index: 0;

        img {
            display: block;
            height: 200px;
            object-fit: cover;
            object-position: center;
            width: 100%;
        }
    }

    &__age {
        background-color: var(--accent);
        bottom: 0;
        color: var(--white);
        left: auto;
        min-width: 34px;
        position: absolute;
        padding: 3px;
        right: 0;
        top: auto;
        text-align: center;
        z-index: 1;
    }

    &__sidebar-buttons {
        padding-left: 10px;
        padding-right: 10px;

        .button {
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        hr {
            margin-top: 10px;
        }
    }

    &__details {
        border-radius: 10px;
        background-color: var(--white);
        padding: 20px;
    }

    &__details-title {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.22222;

        &:not(:first-child) {
            margin-top: 30px;
        }
    }

    &__details-subtitle {
        color: #AEAEAE;
        font-weight: 500;
        line-height: 1.375;
        margin-bottom: 5px;
    }

    &__details-list {
        @include list-reset;
        display: flex;
        gap: 5px;
        flex-wrap: wrap;

        &--separator {
            li {
                &:not(:last-child) {
                    align-items: center;
                    display: flex;
                    gap: 5px;

                    &::after {
                        background-color: var(--grey);
                        content: '';
                        display: block;
                        height: 24px;
                        width: 1px;
                    }
                }
            }
        }

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__tag {
        border: 1px solid var(--accent);
        border-radius: 5px;
        display: inline-block;
        font-size: 14px;
        line-height: 1.4;
        min-height: 24px;
        padding: 2px 5px;
        transition: background-color 0.3s, color 0.3s;
        text-decoration: none;
        @include hover {
            background-color: var(--accent);
            color: var(--white);
        }
    }

    &__release {
        align-items: center;
        display: flex;
        gap: 5px;

        svg {
            fill: currentColor;
            height: 14px;
            min-width: 14px;
            width: 14px;
        }
    }

    &__contacts {
        display: inline-flex;
        flex-direction: column;
        max-width: 100%;
    }

    &__content {
        @media(min-width: $md) {
            width: calc(100% - 360px - 40px);
        }

        h1 {
            font-size: 26px;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
    }

    &__short-info {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 10px;
    }

    &__short-info-delimeter {
        background-color: var(--grey);
        display: block;
        height: 24px;
        width: 1px;
    }

    &__rating {
        align-items: center;
        display: flex;
        gap: 10px;
    }

    &__platform {
        align-items: center;
        display: flex;
        gap: 10px;

        svg {
            fill: var(--black);
            height: 22px;
            min-width: 22px;
            width: 22px;
        }
    }

    &__language {
        font-size: 14px;
    }

    &__preview-text {
        font-size: 18px;
        line-height: 1.55555;
        margin-bottom: 30px;
    }

    &__slider {
        position: relative;
        z-index: 0;
        @media(max-width: $md - 0.02px) {
            margin-left: calc(0.01px - var(--container_padding));
            margin-right: calc(0.01px - var(--container_padding));
        }

        &:not(:last-child) {
            margin-bottom: 50px;
        }

        .swiper-slide {
            width: 175px;
        }

        .swiper-button-next,
        .swiper-button-prev {
            @include button-reset;
            align-items: center;
            border-radius: 5px;
            display: flex;
            height: 40px;
            justify-content: center;
            width: 40px;
            z-index: 1;
            @media(max-width: 1260px - 0.02px) {
                background-color: var(--white);
            }

            svg {
                fill: var(--black);
                height: 24px;
                width: 24px;
            }
        }

        .swiper-button-prev {
            @media(min-width: $md) {
                left: -10px;
            }
            @media(min-width: 1260px) {
                left: -40px;
            }
        }

        .swiper-button-next {
            @media(min-width: $md) {
                right: -10px;
            }
            @media(min-width: 1260px) {
                right: -40px;
            }
        }
    }

    &__tabs {
        &:not(:last-child) {
            margin-bottom: 50px;
        }

        .tabs-nav {
            display: inline-flex;
            max-width: 100%;
            overflow-x: auto;
            scrollbar-width: none;
        }

        .h2,
        h2 {
            color: var(--accent);
            font-size: 18px;
            font-weight: 600;

            &:not(:first-child) {
                margin-top: 20px;
            }
        }
    }
}

.sys-reqs {
    &__title {
        font-size: 18px;
        font-weight: 700;
        @media(min-width: $md) {
            margin-bottom: 15px;
        }
    }

    &__subtitle {
        font-weight: 700;
        @media(min-width: $md) {
            margin-bottom: 15px;
        }
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    &__grid-item {
        width: calc(50% - 15px / 2);

        p {
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }

        b {
            color: var(--accent);
        }
    }
}