.header {
    background-color: var(--white);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    left: 0;
    min-height: var(--header_min_height);
    position: fixed;
    right: 0;
    z-index: 10;

    &__inner {
        align-items: center;
        display: flex;
        min-height: var(--header_min_height);
    }

    &__logo {
        min-width: 70px;
        width: 70px;
        @media(min-width: $sm) {
            height: 48px;
            width: 120px;
        }

        img {
            display: block;
        }
    }

    &__right {
        align-items: center;
        display: flex;
        gap: 15px;
        margin-left: auto;
        @media(min-width: $md) {
            gap: 10px;
        }
    }

    &__search-opener {
        @include active-area;
        @include button-reset;
        align-items: center;
        color: var(--grey);
        display: flex;
        height: 21px;
        justify-content: center;
        min-width: 21px;
        position: relative;
        transition: color 0.3s;
        width: 21px;
        z-index: 0;
        @include hover {
            color: var(--accent_2);
        }

        svg {
            fill: currentColor;
            height: 21px;
            width: 21px;
        }
    }

    &__balance {
        background-color: var(--accent);
        border-radius: 5px;
        color: var(--white);
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        padding: 3px 10px;
        @media(max-width: $sm - 0.02px) {
            display: none;
        }
    }

    &__menu-toggler {
        @include active-area;
        @include button-reset;
        align-items: center;
        display: flex;
        height: 30px;
        min-width: 30px;
        position: relative;
        width: 30px;
        @media(min-width: $md) {
            display: none;
        }

        &.is-active {
            span {
                transform: rotate(45deg);

                &::before {
                    transform: rotate(-90deg) translateX(-25%);
                }

                &::after {
                    display: none;
                }
            }
        }

        span {
            background-color: var(--black);
            display: block;
            height: 2px;
            position: relative;
            width: 100%;
            z-index: 0;

            &::after,
            &::before {
                background-color: var(--black);
                content: '';
                height: 2px;
                left: 0;
                position: absolute;
                width: 100%;
                z-index: 0;
            }

            &::before {
                top: -8px;
            }

            &::after {
                top: 8px;
            }
        }
    }
}

.main-menu {
    @media(max-width: $md - 0.02px) {
        border-top: 1px solid var(--grey);
        background-color: var(--white);
        display: none;
        height: calc(100dvh - var(--header_min_height));
        left: 0;
        overflow-y: auto;
        position: absolute;
        top: var(--header_min_height);
        width: 100%;
        z-index: 1;
    }
    @media(min-width: $md) {
        display: block;
        margin-left: 50px;
    }

    &.is-active {
        display: block;
    }

    &__list {
        @include list-reset;
        @media(min-width: $md) {
            display: flex;
            gap: 24px;
        }
    }

    &__item {
        &:hover {
            & > .sub-menu {
                display: block;
            }
        }
    }

    &__link {
        align-items: center;
        color: var(--black);
        display: flex;
        text-decoration: none;
        @media(max-width: $md - 0.02px) {
            padding: var(--container_padding);
        }
        @media(min-width: $md) {
            min-height: var(--header_min_height);
        }
        @include hover {
            color: var(--accent_2);
        }

        &.is-active {
            color: var(--accent_2);
            font-weight: 600;
        }
    }
}

.sub-menu {
    @media(min-width: $md) {
        background-color: var(--white);
        box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.1);
        display: none;
        left: 0;
        position: absolute;
        right: 0;
        top: var(--header_min_height);
        z-index: 1;
    }

    &__inner {
        @media(max-width: $md - 0.02px) {
            padding-left: 30px;
        }
        @media(min-width: $md) {
            padding-top: 20px;
            padding-bottom: 30px;
        }
    }

    &__title {
        font-weight: 600;
        margin-bottom: 10px;
        @media(min-width: $md) {
            font-size: 20px;
            line-height: 1.2;
        }
    }

    &__list {
        @include list-reset;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 20px 30px;
        @media(max-width: $md - 0.02px) {
            align-items: flex-start;
            flex-direction: column;
        }

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__link {
        align-items: center;
        color: var(--black);
        display: flex;
        gap: 5px;
        text-decoration: none;
        @include hover {
            color: var(--accent_2);
        }
    }
}

.notifications {
    @include active-area;
    @include button-reset;
    color: var(--white);
    display: block;
    height: 30px;
    min-width: 30px;
    position: relative;
    text-decoration: none;
    width: 30px;
    z-index: 0;
    @include hover {
        color: var(--white);

        svg {
            fill: var(--accent);
        }
    }

    svg {
        fill: var(--accent_2);
        height: 30px;
        width: 30px;
    }

    &__counter {
        background-color: var(--warning);
        border-radius: 7px;
        font-size: 8px;
        font-weight: 600;
        height: 14px;
        left: auto;
        line-height: 14px;
        min-width: 14px;
        position: absolute;
        padding-left: 1px;
        padding-right: 1px;
        right: 3px;
        top: 0;
        text-align: center;
        z-index: 1;
    }
}

.user-link {
    @include active-area;
    align-items: center;
    color: var(--black);
    display: inline-flex;
    font-weight: 600;
    gap: 5px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    @include hover {
        color: var(--accent_2);
    }

    &__avatar {
        display: block;
        height: 24px;
        min-width: 24px;
        width: 24px;

        svg {
            fill: var(--accent);
            height: 24px;
            width: 24px;
        }

        img {
            border-radius: 50%;
            height: 24px;
            object-fit: cover;
            object-position: center;
            width: 24px;
        }
    }

    &__text {
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @media(max-width: $sm - 0.02px) {
            display: none;
        }
    }

    &__badge {
        border-radius: 5px;
        color: var(--white);
        font-size: 10px;
        font-weight: 700;
        padding: 5px;
        text-transform: uppercase;
        @media(max-width: $sm - 0.02px) {
            display: none;
        }

        &--pro {
            background-color: var(--accent_2);
        }
    }
}