.info-block {
    border-radius: 10px;
    background-color: var(--white);
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
    padding: 20px;
    @media(min-width: $sm) {
        align-items: center;
        grid-template-columns: 1fr auto;
    }

    &__title {
        font-size: clamp(20px, 3vw, 24px);
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 0;
    }

    &__text {
        grid-column: span 2;
    }

    .button {
        @media(max-width: $sm - 0.02px) {
            width: 100%;
        }
        @media(min-width: $sm) {
            grid-column: 2;
            grid-row: 1;
        }
    }

    &:not(:last-child) {
        margin-bottom: 50px;
    }
}