.page-404 {
    text-align: center;

    &__logo {
        display: block;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 114px;
    }

    &__404 {
        display: block;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 315px;
    }

    h1 {
        font-size: clamp(24px, 3vw, 48px);
        line-height: 1.16666;
        margin-bottom: 10px;
        margin-top: 0;
    }

    p {
        margin-bottom: 30px;
    }

    .button {
        max-width: 260px;
        width: 100%;
    }
}