.personal {
    @media(min-width: $md) {
        align-items: flex-start;
        display: flex;
        gap: 40px;
    }

    &__menu {
        @media(min-width: $md) {
            max-width: 360px;
            width: 100%;
        }
        @media(max-width: $md - 0.02px) {
            margin-bottom: 40px;
        }
    }

    &__content {
        background-color: var(--white);
        border-radius: 10px;
        border: 1px solid var(--accent_2);
        padding: 50px 20px;
        @media(min-width: $md) {
            padding-left: 30px;
            padding-right: 30px;
            width: calc(100% - 400px);
        }

        h1 {
            margin-bottom: 20px;
            text-align: center;
        }
    }
}

.personal-account {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    &__balance {
        margin-bottom: 20px;
        text-align: center;
    }

    .tabs-nav {
        margin-bottom: 20px;
        overflow-x: auto;
        scrollbar-width: none;
    }

    .tabs-nav__button {
        flex-grow: 1;
    }

    &__note {
        text-align: center;
    }

    &__form {
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;

        .button {
            width: 100%;
        }
    }
}

.transactions {
    @media(min-width: $md) {
        padding-left: 30px;
        padding-right: 30px;
    }

    &__table {
        border-collapse: collapse;
        width: 100%;

        th {
            color: var(--grey);
            font-size: 18px;
            font-weight: 500;
            line-height: 1.44444;
            padding: 0 20px 0 0;
            text-align: left;
        }

        td {
            border-bottom: 1px solid var(--grey);
            padding: 10px 20px 10px 0;
            @media(min-width: $md) {
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }

        i {
            color: #AEAEAE;
            font-weight: 500;
        }
    }
}

.account-settings {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;

    .input-label {
        margin-bottom: 30px;
    }

    .button {
        width: 100%;
    }

    .linked-socials {
        border-top: 1px solid var(--grey);
        margin-top: 30px;
        padding-top: 30px;
    }
}

.premium {
    &__text {
        margin-bottom: 20px;
        text-align: center;
    }
}