.plans {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.plan {
    background-color: var(--white);
    border-radius: 10px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    max-width: 338px;
    padding: 30px;
    width: 100%;

    &--default {
        border-color: var(--grey);
    }

    &--premium {
        border-color: var(--accent);
        box-shadow: 2px 4px 10px rgba(253, 119, 23, 0.3);
    }

    &__title {
        align-items: center;
        display: flex;
        gap: 5px;
        justify-content: center;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__features {
        @include list-reset;
        border-bottom: 1px solid var(--grey);
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    &__features-item {
        align-items: center;
        color: #aaa;
        display: flex;
        gap: 10px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        svg {
            fill: #aaa;
            height: 25px;
            min-width: 25px;
            width: 25px;
        }

        &.is-active {
            color: var(--black);

            svg {
                fill: var(--accent);
            }
        }
    }

    &__current {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__current-info {
        font-weight: 700;
        margin: auto 0;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }

    &__current-title {
        align-items: center;
        background-color: var(--grey);
        border-radius: 5px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        height: 44px;
        margin-top: 30px;
    }

    &__form {
        flex-grow: 1;

        .button {
            margin-top: 30px;
            width: 100%;
        }
    }

    &__options {}

    &__option {
        align-items: center;
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        font-weight: 700;
        position: relative;

        &:not(:last-child) {
            border-bottom: 1px solid var(--grey);
            margin-bottom: 8px;
            padding-bottom: 8px;
        }

        input {
            position: absolute;
            height: 1px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            width: 1px;

            &:checked + .plan__option-icon {
                background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.5' cy='7.5' r='6.5' stroke='%23FFC931' stroke-width='2'/%3E%3Ccircle cx='7.5' cy='7.5' r='3.75' fill='%23FFC931'/%3E%3C/svg%3E%0A");
            }
        }
    }

    &__option-icon {
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.5' cy='7.5' r='7' stroke='%23aaa'/%3E%3C/svg%3E%0A");
        height: 15px;
        min-width: 15px;
        width: 15px;
    }

    &__option-discount {
        background-color: var(--warning);
        border-radius: 10px;
        color: var(--white);
        font-size: 12px;
        line-height: 1.33333;
        padding: 2px 4px;
    }

    &__option-price {
        color: var(--accent);
        margin-left: auto;
    }

    &__option-old-price {
        color: var(--grey);
        font-size: 12px;
        text-decoration: line-through;
    }
}