.rating {
    align-items: center;
    display: flex;
    gap: 5px;
    @include hover {
        svg {
            &.filled {
                opacity: 1;
            }
        }
    }

    &.is-active {
        svg {
            &.filled {
                opacity: 1;
            }
        }
    }

    &--button {
        background-color: var(--white);
        border-radius: 5px;
        padding: 4px 10px;
    }

    &--small {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.71428;

        .rating__icon {
            height: 18px;
            width: 18px;

            svg {
                height: 18px;
                width: 18px;
            }
        }
    }

    &--up {
        color: var(--success);
    }

    &--down {
        color: var(--warning);
    }

    &__icon {
        height: 24px;
        position: relative;
        width: 24px;
        z-index: 0;

        svg {
            fill: currentColor;
            height: 24px;
            width: 24px;

            &.filled {
                left: 0;
                opacity: 0;
                position: absolute;
                transition: opacity 0.3s;
                top: 0;
                z-index: 1;
            }
        }
    }
}

button.rating {
    @include active-area;
    @include button-reset;
    position: relative;
    z-index: 0;
}

button.rating--button {
    background-color: var(--white);
    border-radius: 5px;
    padding: 4px 10px;
}