.rating {
    align-items: center;
    display: flex;
    gap: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71428;
    @include hover {
        svg {
            &.filled {
                opacity: 1;
            }
        }
    }

    &.is-active {
        svg {
            &.filled {
                opacity: 1;
            }
        }
    }

    &--up {
        color: var(--success);
    }

    &--down {
        color: var(--warning);
    }

    &__icon {
        height: 18px;
        position: relative;
        width: 18px;
        z-index: 0;

        svg {
            fill: currentColor;
            height: 18px;
            width: 18px;

            &.filled {
                left: 0;
                opacity: 0;
                position: absolute;
                transition: opacity 0.3s;
                top: 0;
                z-index: 1;
            }
        }
    }
}

button.rating {
    @include active-area;
    @include button-reset;
    position: relative;
}