.seo-block {
    --gap: 10px;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    @media(min-width: $sm) {
        flex-direction: row;
    }

    &:not(:last-child) {
        margin-bottom: var(--section_vertical_gap);
    }

    &__block {
        @media(min-width: $sm) {
            width: calc(100% / 2 - var(--gap) / 2);
        }

        &--images {
            align-items: flex-start;
            display: flex;
            gap: var(--gap);
            flex-wrap: wrap;

            img {
                display: block;
                width: calc(100% / 2 - var(--gap) / 2);
                @media(min-width: $sm) and (max-width: $hd - 0.02px) {
                    width: 100%;
                }
            }
        }
    }
}