.vacancies {
    @media(min-width: $md) {
        align-items: flex-start;
        display: flex;
        gap: 40px;
    }

    &__sidebar {
        @media(min-width: $md) {
            width: 260px;
        }
    }

    &__content {
        @media(min-width: $md) {
            width: calc(100% - 300px);
        }
    }

    &__title-block {
        align-items: center;
        display: flex;
        gap: 15px;
        justify-content: space-between;
        margin-bottom: 20px;

        .button {
            min-width: 200px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &__title {
        font-size: clamp(20px, 3vw, 26px);
        font-weight: 700;
        line-height: 1.30769;
        margin: 0;
    }

    &__grid {
        --gap: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap);

        .vacancy-card {
            width: 100%;
            @media(min-width: $sm) {
                width: calc(100% / 2 - var(--gap) / 2);
            }
        }

        .vacancy-banner {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}

.vacancy-card {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;

    &__top {
        align-items: center;
        display: flex;
        gap: 15px;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 100%;
    }

    &__date {
        color: var(--grey);
        font-size: 10px;
    }

    &__type {
        text-transform: none;
    }

    &__salary {
        color: var(--warning);
        font-size: 20px;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 5px;

        &--no_salary {
            color: var(--grey);
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.33333;
        margin-bottom: 5px;
    }

    &__preview-text {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 3em;
        margin-bottom: 20px;
    }

    &__employer {
        align-items: center;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        font-size: 12px;
        font-weight: 500;
        margin-top: auto;
        margin-bottom: 20px;

        img {
            display: block;
            height: 30px;
            min-width: 30px;
            object-fit: cover;
            object-position: center;
            width: 30px;
        }
    }

    .button {
        min-width: 260px;
    }
}

.vacancy-banner {
    align-items: center;
    background-color: var(--white);
    border-radius: 15px;
    border: 2px solid var(--accent_2);
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    @media(min-width: $sm) {
        flex-direction: row;
        text-align: left;
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__image {
        height: 250px;
        position: relative;
        width: 100%;
        z-index: 0;
        @media(min-width: $sm) {
            height: 100%;
            min-width: 360px;
            width: 360px;
        }

        img {
            display: block;
            height: 100%;
            min-height: 250px;
            object-fit: cover;
            object-position: center;
            width: 100%;
        }
    }

    &__erid {
        background-color: rgba(#D0D0D0, 0.9);
        border-radius: 12px;
        bottom: 20px;
        font-size: 10px;
        left: 20px;
        line-height: 2;
        padding: 2px 10px;
        position: absolute;
        top: auto;
        max-width: calc(100% - 40px);
        z-index: 1;
    }

    &__text-block {
        padding: 24px 40px;
    }

    &__title {
        font-size: clamp(20px, 3vw, 26px);
        font-weight: 700;
        line-height: 1.53846;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    &__text {
        font-size: clamp(16px, 3vw, 18px);
        line-height: 1.55555;
        margin-bottom: 30px;
    }
}