<header class="header compensate-for-scrollbar">
    <div class="header__inner container">
        <div class="header__logo">
            <img src="images/logo.svg" alt="INDIE">
        </div>

        <nav class="main-menu">
            <ul class="main-menu__list">
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">Категории</a>

                    <div class="sub-menu">
                        <div class="sub-menu__inner container">
                            <p class="sub-menu__title">Жанр</p>

                            <ul class="sub-menu__list">
                                <li class="sun-menu__item"><a class="sub-menu__link" href="#"><img src="images/icons/menu-icons/rpg.svg" alt="">Ролевые игры</a></li>
                                <li class="sun-menu__item"><a class="sub-menu__link" href="#"><img src="images/icons/menu-icons/strategy.svg" alt="">Стратегии</a></li>
                                <li class="sun-menu__item"><a class="sub-menu__link" href="#"><img src="images/icons/menu-icons/adventure.svg" alt="">Приключение</a></li>
                                <li class="sun-menu__item"><a class="sub-menu__link" href="#"><img src="images/icons/menu-icons/racing.svg" alt="">Гонки</a></li>
                                <li class="sun-menu__item"><a class="sub-menu__link" href="#"><img src="images/icons/menu-icons/sport.svg" alt="">Спорт</a></li>
                                <li class="sun-menu__item"><a class="sub-menu__link" href="#"><img src="images/icons/menu-icons/action.svg" alt="">Экшн</a></li>
                                <li class="sun-menu__item"><a class="sub-menu__link" href="#"><img src="images/icons/menu-icons/arcade.svg" alt="">Аркада</a></li>
                                <li class="sun-menu__item"><a class="sub-menu__link" href="#"><img src="images/icons/menu-icons/puzzle.svg" alt="">Головоломки</a></li>
                                <li class="sun-menu__item"><a class="sub-menu__link" href="#"><img src="images/icons/menu-icons/kids.svg" alt="">Детские</a></li>
                            </ul>

                            <p class="sub-menu__title">Платформа</p>

                            <ul class="sub-menu__list">
                                <li class="sun-menu__item"><a class="sub-menu__link" href="#"><img src="images/icons/menu-icons/win.svg" alt="">Windows</a></li>
                                <li class="sun-menu__item"><a class="sub-menu__link" href="#"><img src="images/icons/menu-icons/macos.svg" alt="">MacOS</a></li>
                                <li class="sun-menu__item"><a class="sub-menu__link" href="#"><img src="images/icons/menu-icons/android.svg" alt="">Android</a></li>
                                <li class="sun-menu__item"><a class="sub-menu__link" href="#"><img src="images/icons/menu-icons/ios.svg" alt="">iOS</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="main-menu__item"><a class="main-menu__link" href="#">Вакансии</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="#">Статьи</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="#">Премиум аккаунт</a></li>
            </ul>
        </nav>

        <div class="header__right">
            <button class="header__search-opener" type="button" title="Поиск">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#search_icon" />
                </svg>
            </button>

            <a class="user-link" href="#">
                <span class="user-link__avatar">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#user_icon" />
                    </svg>
                </span>

                <span class="user-link__text">Войти</span>
            </a>

            <button class="js-mobile-menu-toggler header__menu-toggler" type="button" title="Меню">
                <span></span>
            </button>
        </div>
    </div>
</header>