<div class="popup">
    <div class="popup__shade"></div>

    <div class="popup__inner">
        <div class="popup__form">
            <button class="js-popup-closer popup__closer" type="button" title="Закрыть">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="M22,22.8c-0.2,0-0.4-0.1-0.5-0.2L12,13.1l-9.5,9.5c-0.3,0.3-0.8,0.3-1.1,0s-0.3-0.8,0-1.1l9.5-9.5L1.5,2.5c-0.3-0.3-0.3-0.8,0-1.1s0.8-0.3,1.1,0l9.5,9.5l9.5-9.5c0.3-0.3,0.8-0.3,1.1,0s0.3,0.8,0,1.1L13.1,12l9.5,9.5c0.3,0.3,0.3,0.8,0,1.1C22.4,22.7,22.2,22.8,22,22.8z" />
                </svg>
            </button>

            <form action="">
                <p class="h3">Связаться<br> с нами</p>

                <label class="input-label">
                    <input class="input error" type="text" name="name" value="" placeholder="Имя">
                </label>

                <label class="input-label">
                    <input class="js-phone-mask input" type="text" name="phone" value="" placeholder="Телефон">
                </label>

                <button class="button button--primary" type="submit">Заказать звонок</button>
            </form>
        </div>
    </div>
</div>