@import "base/_variables.scss";
@import "base/_mixins.scss";
@import "base/_fonts.scss";
@import "base/_selection.scss";
@import "base/_base.scss";
@import "base/_buttons.scss";
@import "base/_checkboxes_and_radio.scss";
@import "base/_inputs_and_textareas.scss";
@import "base/_popup.scss";
@import "base/_responsive-video.scss";
@import "base/_tabs.scss";
@import "base/_badge.scss";
@import "base/_left-menu.scss";
@import "base/_linked-socials.scss";
@import "base/_banner.scss";
@import "base/_page-blocks.scss";
@import "base/_pager.scss";
@import "base/_social-register.scss";
@import "styles/_header.scss";
@import "styles/_footer.scss";
@import "styles/_breadcrumbs.scss";
@import "styles/_article.scss";
@import "styles/_game.scss";
@import "styles/_rating.scss";
@import "styles/_contact-link.scss";
@import "styles/_gallery-item.scss";
@import "styles/_info-block.scss";
@import "styles/_reviews.scss";
@import "styles/_show-more.scss";
@import "styles/_personal.scss";
@import "styles/_plans.scss";
@import "styles/_vacancies.scss";
@import "styles/_filter.scss";
@import "styles/_page-404.scss";